<footer>
  <div class="topFooter">
    <p>Folgen Sie uns auf unseren sozialen Netzwerken</p>
    <div class="social">
      <a href="https://www.instagram.com/findedeinhaustier/">
        <img src="/assets/img/ig-min.png" alt="Instagram Najdi Mazlíčka">
      </a>
      <a href="https://www.facebook.com/Finde-dein-Haustier-103040421370509/">
        <img src="/assets/img/fb-min.png" alt="Facebook Najdi Mazlíčka">
      </a>
    </div>
  </div>

  <div class="botFooter">
    <span>Copyright © 2020 PalmMedia s.r.o.</span>
    <a title="Startseite" href="/">Startseite</a>
    <a title="Vermisstenanzeige aufgeben" href="/vermisstenanzeige-aufgeben">Vermisstenanzeige aufgeben</a>
    <a title="Über uns" href="/uber-uns">Über uns</a>
    <a title="Wie funktioniert es?" href="/wie-funktioniert-es?">Wie funktioniert es?</a>
    <a title="Unsere Vorteile" href="/unsere-vorteile">Unsere Vorteile</a>
    <a title="Erfahrungsberichte" href="/erfahrungsberichte">Erfahrungsberichte</a>
    <br>
    <a title="Leistungsgarantie" href="/leistungsgarantie">Leistungsgarantie</a>
    <a title="Allgemeine Geschäftsbedingungen" href="/allgemeine_geschaftsbedingungen">Allgemeine Geschäftsbedingungen</a>
    <a title="Impressum" href="/impressum">Impressum</a>
    <a title="Datenschutzerklärung" href="/datenschutzerklarung">Datenschutzerklärung</a>
    <a title="E-Mail" href="mailto:support@findedeinhaustier.de">E-Mail: support@findedeinhaustier.de</a>

    <div class="karty">
      <img src="/assets/img/karty1-min.png" alt="Kreditkartenzahlung">
      <img src="/assets/img/karty2-min.png" alt="Kreditkartenzahlung">
      <img src="/assets/img/karty3-min.png" alt="Kreditkartenzahlung">
      <img src="/assets/img/karty4-min.png" alt="Kreditkartenzahlung">
      <img src="/assets/img/karty5-min.png" alt="Kreditkartenzahlung">
      <img src="/assets/img/karty6-min.png" alt="Kreditkartenzahlung">
      <img src="/assets/img/karty7-min.png" alt="Kreditkartenzahlung">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/assets/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/app.js?a=5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=de&theme=white&tracking=1&thirdparty=1&always=1&refreshPage=1&showPolicyLink=1&privacyPage=https%3A%2F%2Ffindedeinhaustier.de%2Fdatenschutzerklarung"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.0.0-alpha/quicklink.umd.js"></script>

  <script>
  window.addEventListener('load', () => {
    quicklink.listen();
  });
  </script>-->
</footer>
