<div class="mobilniMenuNabidka">
  <a class="logo" href="/">
    <img src="/assets/img/logo-min.png" alt="Logo Finde dein Haustier">
  </a>
  <a class="mobilniMenuZavrit">
    <img src="/assets/img/skrt-min.png" alt="Menu">
  </a>
  <nav>
    <ul>
      <li>
        <a href="/wie-funktioniert-es">Wie funktioniert es?</a>
      </li>
      <li>
        <a href="/unsere-vorteile">Unsere Vorteile</a>
      </li>
      <li>
        <a href="/erfahrungsberichte">Erfahrungsberichte</a>
      </li>
      <li>
        <a href="/uber-uns">Über uns</a>
      </li>
      <li>
        <a href="/vermisstenanzeige-aufgeben">Paket wählen</a>
      </li>
      <li>
        <a href="https://www.instagram.com/findedeinhaustier/">
          <img src="/assets/img/ig-min.png" alt="Instagram Finde dein Haustier">
        </a>
        <a href="https://www.facebook.com/Finde-dein-Haustier-103040421370509/">
          <img src="/assets/img/fb-min.png" alt="Facebook Finde dein Haustier">
        </a>
      </li>
      <li class="telefon">
        <img src="/assets/img/telefon-min.png" alt="Telefon">
        <a href="tel:00498955209469">+49 89 5520 9469</a> <!--uprava-->
      </li>
    </ul>
  </nav>
</div>

<header class="animated {% if page.url == '/' %}homepageHeader{% endif %}">
  {% if page.url == '/' %}
  <!--<div class="announcement">
    <p>📢 Překonali jsme hranici 600tis. oslovených lidí! 📢</p>
  </div>-->
  {% endif %}
  <div class="spodniHeader">
    <a class="logo" href="/">
      <img src="/assets/img/logo-min.png" alt="Logo Finde dein Haustier">
    </a>

    <a class="mobilniMenu">
      <img src="/assets/img/menu-min.png" alt="Menu">
    </a>

    <a class="hotlinka" href="tel:00498955209469">+49 89 5520 9469<span> — Hotline</span></a>

    <div class="desktopMenu">
      <nav>
        <ul>
          <li>
            <a href="/wie-funktioniert-es">Wie funktioniert es?</a>
          </li>
          <li>
            <a href="/unsere-vorteile">Unsere Vorteile</a>
          </li>
          <li>
            <a href="/erfahrungsberichte">Erfahrungsberichte</a>
          </li>
          <li>
            <a href="/uber-uns">Über uns</a>
          </li>
          <li>
            <a href="/vermisstenanzeige-aufgeben">Paket wählen</a>
          </li>
          <li class="telefon">
            <img src="/assets/img/telefon-min.png" alt="Telefon">
            <a href="tel:00498955209469">+49 89 5520 9469</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
