<section class="triDuvody">
  <h2>Warum mit uns suchen?</h2>
  <h3>(und wo der haken ist)</h3>
  <ul>
    <li>
      <img class="zacatek1" src="/assets/img/zacatek1-min.png" alt="Illustration">
      <p>Mit unserer Hilfe erreichen Sie viel mehr Menschen, als wenn Sie alleine suchen.</p>
      <a href="/unsere-vorteile">Die größten Vorteile</a>
    </li>
    <li>
      <img class="zacatek2" src="/assets/img/zacatek2-min.png" alt="Illustration">
      <p>Wir haben eine hohe Erfolgsrate. Wir helfen täglich Menschen wie Sie.</p>
      <a href="/erfahrungsberichte">Erfahrungsberichte</a>
    </li>
    <li>
      <img class="zacatek3" src="/assets/img/zacatek3-min.png" alt="Illustration">
      <p>Die Registrierung dauert nur ein paar Minuten. Wir kümmern uns um den Rest.</p>
      <a href="/wie-funktioniert-es">Wie funktioniert es genau?</a>
    </li>
  </ul>
  <div class="sipka"></div>
  <div class="hacek">
    <h2>Wo ist der Haken?</h2>
    <p>Zum Suchen benutzen wir spezielle online-Tools <a href="/wie-funktioniert-es">(welche?)</a> die schon an sich etwas kosten. Unser Dienst ist Deshalb nicht kostenlos.<br><br>Sie können zwischen 3 verschiedenen Optionen wählen, die sich im Preis unterscheiden.</p>
    <a class="registrovatZtratu" href="/vermisstenanzeige-aufgeben"><span>Paket wählen</span></a>
  </div>
</section>


<section class="faq faqNavic">
  <ul class="otazky">
    <li class="otazka zavreno">
      <h3>Was ist der Unterschied zwischen einem klassischen Beitrag und unserem Service?</h3>
      <p>Wir verwenden spezielle Marketing-Tools für Unternehmen, die hauptsächlich versuchen ein Produkt zu verkaufen. Wir verwenden diese Strategie jedoch, um nach Ihren vermissten Haustieren zu suchen. Obwohl wir für dieses Tool viel Geld bezahlen müssen, können wir die Kampagne genau nach unseren Wünschen planen, was mit normalen Beiträgen nicht möglich ist. Zum Beispiel, um Menschen an einem bestimmten Ort zu erreichen, um ein deutlich größere Reichweite zu generieren, verschiedene Filter einzusetzen und viel mehr. Kampagnenbeiträge sehen jedoch genauso aus, wie Sie sie gewohnt sind. Die Leute können sie liken, mit ihren Freunden teilen oder kommentieren.</p>
    </li>
  </ul>
</section>
