<li class="otazka zavreno">
  <h3>Was ist der Unterschied zwischen einem klassischen Beitrag und unserem Service?</h3>
  <p>Wir verwenden spezielle Marketing-Tools für Unternehmen, die hauptsächlich versuchen ein Produkt zu verkaufen. Wir verwenden diese Strategie jedoch, um nach Ihren vermissten Haustieren zu suchen. Obwohl wir für dieses Tool viel Geld bezahlen müssen, können wir die Kampagne genau nach unseren Wünschen planen, was mit normalen Beiträgen nicht möglich ist. Zum Beispiel, um Menschen an einem bestimmten Ort zu erreichen, um ein deutlich größere Reichweite zu generieren, verschiedene Filter einzusetzen und viel mehr. Kampagnenbeiträge sehen jedoch genauso aus, wie Sie sie gewohnt sind. Die Leute können sie liken, mit ihren Freunden teilen oder kommentieren.</p>
</li>
<li class="otazka zavreno">
  <h3>Wie genau laufen unsere Kampagnen ab?</h3>
  <p>Unmittelbar nach Ihrer Bestellung planen wir Ihre gesamte Kampagne, erstellen die erforderlichen Grafiken und richten Ihre Anzeigen ein. Alles wird dann zur Genehmigung an Facebook gesendet, wonach die Kampagne in der Regel nach etwa einer Stunde freigeschaltet wird. Ab diesem Zeitpunkt werden Beiträge aus unserer Suchkampagne auf Facebook und Instagram für Personen angezeigt, welche sich im Bereich des letzten bekannten Ortes Ihres Haustiers befinden - klassisch an der “Pinnwand” oder in Form von Stories. Die Leute teilen diese Beiträge dann in den nächsten Tagen unterschiedlich mit ihren Freunden. Sie liken, aber kommentieren hauptsächlich verschiedene Hinweise. So erfahren wir oft kleine, aber sehr wichtige Details, die die Leute nicht von alleine angeben würden. Anschließend passen wir Ihre Kampagnen anhand dieser Informationen an (z. B. Standortänderung, Beschreibung usw.) und halten Sie täglich über die Entwicklungen auf dem Laufenden.</p>
</li>
<li class="otazka zavreno">
  <h3>Warum ist dieser Weg so effektiv?</h3>
  <p>Das Wichtigste bei der Suche ist die Geschwindigkeit. Mit uns können Sie innerhalb weniger Stunden eine große Anzahl von Personen am letzten bekannten Standort informieren. Dies ist mit Broschüren, Tasso, E-Mails oder Facebook-Gruppen unmöglich. Der zweite große Vorteil ist, dass die Leute in den Kommentaren oft noch kleinere, aber sehr wichtige Hinweise kommentieren, die sie bei der klassischen Suche höchstwahrscheinlich nicht angeben würden. Wir nutzen diese Informationen und arbeiten sie in Echtzeit in Ihre Kampagne mit ein - und das 7 Tage die Woche. Daher bringen wir auch mehr als 74% aller vermissten Haustiere wieder nach Hause.</p>
</li>
<li class="otazka zavreno">
  <h3>Wie können wir die richtigen Leute ansprechen?</h3>
  <p>Facebook und Instagram ermöglichen uns mithilfe ihrer Marketing-Tools genau die Personen ansprechen, welche sich in dem Umkreis befinden, in welchem Ihr Haustier verloren ging. Erfahrungsgemäß sprechen wir alle Einwohner in einem Umkreis von 10km an (dies hängt jedoch vom Gelände, der Größe der umliegenden Städte usw. ab). Manchmal sind es ein paar mehr, manchmal weniger.</p>
</li>
<li class="otazka zavreno">
  <h3>Wie wird eine konkrete Anzeige aussehen?</h3>
  <p>Unsere Anzeigen werden in Form von Beiträgen auf Facebook und Instagram als auch Instagram Stories aufgegeben. Konkrete Beispiele können Sie sich unter folgendem Link ansehen: <a title="příklad příspěvků" href="https://drive.google.com/drive/folders/1TeDZE1Nrny_sPTPXlN6G3N7FhHUHvDIE?usp=sharing">LINK</a></p>
</li>
<li class="otazka zavreno">
  <h3>Wie unterscheiden wir uns von TASSO oder FindeFix?</h3>
  <p>Im Vergleich zu diesen Dienstleistungen konzentrieren wir uns hauptsächlich auf Geschwindigkeit und Effizienz. Damit jemand einen Hinweis zu Ihrem Tier über TASSO einreicht, müsste diese Person zunächst die Anwendung installieren, auf die Website des Unternehmens zugreifen und dort nach verlorenen Tieren aus der Umgebung suchen - und das alles aus kompletter Eigeninitiative. Bei uns reicht es aus, wenn dieselbe Person entweder Facebook oder Instagram nutzt. Und das tut heute so gut wie jeder. Die Person muss jedoch niemandem folgen oder keine Beiträge liken. Die Menschen sehen eine Nachricht über Ihr verlorenes Haustier in Form eines gesponserten Beitrags, einer sog. Anzeigen. Dieser Beitrag wird allen Personen zum Zeitpunkt des Verlusts innerhalb weniger Stunden nach der Anmeldung allgemein angezeigt. Im Gegensatz zu TASSO sorgen wir dafür, dass Ihr Verlust „wirklich jedem“ bekannt ist.</p>
</li>
<li class="otazka zavreno">
  <h3>Welche Personen werden eigentlich angesprochen? Wie viele und wie lange?</h3>
  <p>Einfach gesagt, alle potenziellen Retter im Umkreis des letzten bekannten Standortes Ihres Haustiers. Darüber hinaus versuchen wir die Zielgruppe anhand verschiedener anderer Attribute zu filtern, um die Suche vor allem in größeren Städten mit vielen Menschen so effektiv wie möglich zu gestalten. In solchen Fällen können wir bei Bedarf 40.000 Menschen erreichen. Die Anzahl der angesprochenen Menschen ist jedoch stark ortsabhängig. Unsere Standardkampagnen dauern 7 Tage, wobei die ersten 3 Tage am intensivsten sind. Wir bieten jedoch auch ein günstigeres Paket an, welches nur 2 Tage dauert.</p>
</li>
<li class="otazka zavreno">
  <h3>Wie lange dauert es, bis die Kampagne gestartet ist?</h3>
  <p>Unmittelbar nach dem Erhalt Ihrer Registrierung überprüfen wir nochmals Ihre Daten, um sicherzustellen, dass alles OK ist. Wenn alles stimmt, beginnen wir damit Ihre Beiträge zu erstellen und senden diese zur Genehmigung an Facebook. Der gesamte Vorgang dauert normalerweise etwa 6 Stunden, höchstens jedoch einen Tag. Viel hängt von der Geschwindigkeit und Kapazität der Facebook-Plattform ab und auch der Tageszeit, zu welcher wir Ihre Daten bekommen. Die gute Nachricht ist, dass wir 7 Tage die Woche arbeiten! Sie können uns somit an einem Samstagabend alle Infos zuschicken und bereits am Sonntag ist alles im Gange.</p>
</li>
<li class="otazka zavreno">
  <h3>Woher weiß ich, dass Sie die Kampagne tatsächlich veranlasst haben?</h3>
  <p>Ganz einfach - wir senden Ihnen den Link zur Anzeige umgehend per E-Mail. Darüber hinaus werden wir Sie während der Kampagne täglich über die Reichweite und die Reaktionen anderer Personen informieren.</p>
</li>
<li class="otazka zavreno">
  <h3>Bekomme ich mein Geld erstattet, falls ich mein Haustier finde bevor die Kampagne startet?</h3>
  <p>Ja, aber Sie müssen schneller sein als wir. Sobald wir Ihren Auftrag in der Administration erhalten, fangen wir sofort an daran zu arbeiten und zahlen Geld an Facebook. Falls Sie etwas stornieren möchten, rufen Sie uns bitte umgehend unter der +49 89 5520 9469 an.</p>
</li>
<li class="otazka zavreno">
  <h3>Warum kostet Ihr Service etwas?</h3>
  <p>Wie Sie sicherlich schon gelesen haben, verwenden wir hauptsächlich kostenpflichtige Anzeigen auf Plattformen wie Facebook und Instagram. Dies ist etwas völlig anderes, als die klassischen Beiträge auf Seiten mit verlorenen Tieren. Unsere Reichweite wird erkauft und die Kampagne muss von einem Experten eingerichtet werden. Darüber hinaus muss Ihre Anzeige von einem Grafiker erstellt werden, wir kommunizieren jeden Tag mit Ihnen, wir arbeiten Ihre Kampagne nach, usw.</p>
</li>
